
<div class="sample tabsdemoDynamicTabs form-horizontal">

<h1>Pyreflect Tree Render</h1>
 <div class="form-group" style='max-width:90%; margin-left: 20px'>
    <h3>Enter Json file path:</h3>
  <input id="path" ng-model="projectFile" type="text" placeholder="{{projectFile}}" cols="100" ng-change="loadJson()" class="form-control"/>
  <p>Program will render the Pyreflect-generated JSON file above as a project tree. Enter a path to begin.</p> 
  </div>

  <md-content class="md-padding">
    <md-tabs md-dynamic-height="" md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
      <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">


          <h4 ng-show="badData">No test file <i>{{projectFile}}</i> found</h4>


          <tree-graph class="full-screen" data="treeData" ng-hide="badData"></tree-graph>

             <br>
              <md-button class="md-primary md-raised pull-left" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
     
         </div>
        
      </md-tab>
    </md-tabs>
  </md-content>


</div>